
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.container ul{
    margin-left: 130px;
}
.right ul li{
    padding-right: 60px;
}
.right li:hover a{
    color: #ff9b50;
}
header {
    background-color: black;
    overflow: hidden;
    height: 50px;
}

header .left {
    width: 50%;
    float: left;
    padding-top: 10px;
}

header .right {
        float: left;
        width: 50%;
}

header .right ul {
    list-style: none;}

header .right ul li {
    float: left;
    padding-top: 15px;
}

header .right ul li a {
    color: white;
    text-decoration: none;
}

main h1{
    font-size: 48px;
    font-weight: bold;
}

main{
    display: flex;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(90, 90, 90, 0.37)), 
    url("../imgs/banner.jpg");    
    background-size: cover;
    padding: 0 5%;
}
main .left{
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description{
    margin-top: 20px;
    line-height: 1.5; 
}
.description h3{
    font-weight: 300;
    font-size:xx-large;
    margin-bottom: 10px;
    color: white;
}
.description p{
    margin-top: 10px;
    color: rgb(185, 185, 185);
}
main .right{
    width: 350px;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 5px;
    align-self: center;
    margin-top: 30px;
    margin-left: 30%;
    position: relative;
}
main .right h2 {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 25px;
    align-items: center;
}
main .right form input{
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      width: 100%;
      margin-bottom: 20px;
}
.get-started{
   background-color: orange;
      border: none;
      padding: 10px;
      color: white;
      width: 100%;
      cursor: pointer;
      font-weight: bold;
      position: absolute;

      bottom: 0;
      left: 0;
}
.get-started:hover{
    background-color: rgb(160, 104, 0);
}
.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.download-btn:hover {
    background-color: #9e9e9ea4;
}
