* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  width: 90%;
 margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  margin: 20 px auto;
  min-width: 500px;
  margin-left: 5%;
  border-radius: 3%;
  border: 0;
  padding-left: 12px;
}
nav{
  overflow: hidden;
  margin: auto;
  height: 60px;
  line-height: 60px;
  background-color: #16a085;
}
ul {
  list-style: none;
  width: 700px;
  overflow: hidden;
  margin: auto;
}
ul li {
  float: left;
  margin-right: 70px;
  padding-left: 60px;
}
ul li a {
  text-decoration: none;
  color: white;
}
ul li a:hover {
  color: #FF8B38;

}
h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
body {
  background-color: rgb(207, 207, 207);
}
.clearfix {
  clear: both;
}
.text-center{
text-align: center;
}
.bg-dark{
background-color: navy;
color: white;
height: 50px;
}
footer{
  text-align: center;
  height: 50px;
  line-height: 50px;
}